* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

  body {

  }

  main {

  }

  .post_tile {
    border-radius: 0.5rem;
    padding: 1.5rem;
  }

  .post_tile h1 {
    background: inherit;
    font-size: 1.41rem;
    margin: 0.5rem 0;
  }

  .dark_tile {
      background-color: grey;
      color: white;
  }


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }