* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
  }

  body {
    background-color: hsl(0, 0%, 81%);
  }

  main {
    margin: 1rem;
    display: grid;
    grid-gap: 1rem;
  }

  .post_tile {
    border-radius: 0.5rem;
    padding: 1.5rem;
    background-color: white;
  }

  .post_tile h1 {
    background: inherit;
    font-size: 1.41rem;
    margin: 0.5rem 0;
  }

  .dark_tile {
      background-color: grey;
      color: white;
  }

  author {
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: 3rem auto;
      
  }

  author img {
      height: 2.5rem;
      border: solid 0.15rem white;
      border-radius: 50%;

      grid-row: 1/ span 2;
  }

  author description {
      font-size: 0.9rem;
      grid-column: 2/2;
      opacity: 50%;
  }

  tile p {
      opacity: 70%;
  }

  .daniel {
    background: hsl(263, 55%, 52%)
  }

  .jonathan {
      background-color: hsl(217, 19%, 35%);
  }

  .patrick {
      background-color: hsl(219, 29%, 14%);
  }

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  @media (min-width: 600px) {
    .wide_tile {
        grid-column: span 2;
    }
  }

  @media (min-width: 1000px) {
    main {
        grid-template-columns: repeat(4, 1fr);
    }

    .post_tile {
        max-height: 20rem;
    }

    .last_tile {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        max-height: 40rem;
    }
  }